body {
    padding: 30px;
}

.center {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 100px;
}
.button-center {
    margin: auto;
    padding-top: 15px;
    width: 100px;
}
button {
    width: 110px;
    height: 30px;
}

svg{
  width: 100%;
  height: 100%;
}

#links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

#nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}


#svg-container{
    width: 100vw;
    height: 100vh;
    float: left;
}

.nav{
	border-bottom: 2px solid black;
}

.top-search{
	float: right;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:30px;
    margin: auto;
}

.footer p{
    margin: auto;
    width: 20%;
}
